.math-example .header {
    font-size: x-large;
    font-weight: bold;
}

.math-example .input-data p{
    font-weight: bold;
}

.errors p {
    color: red
}

.example-container {
    font-weight: bold;
}